@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor
<h2>Flavor Details</h2>
<hr />
<p>@Html.DisplayFor(model => model.FlavorType) | Flavor Details</p>
<hr />
<p>Flavor Name: @Html.DisplayFor(model => model.FlavorType)</p>

 @if(Model.TreatFlavor.Count == 0)
          {
            <p>@Model.FlavorType has no Treats .</p>
          }
          <ul>
            @foreach (TreatFlavor treatFlavor in @Model.TreatFlavor)
            {
              @if(@User.Identity.IsAuthenticated)
              {
                <li>@Html.ActionLink(treatFlavor.Treat.Name,"details","Treats", new {id = treatFlavor.FlavorId}) | @Html.ActionLink("Delete","DeleteTreat", new {id = treatFlavor.TreatFlavorId}) </li>
              }
              else
              {
                <li>@Html.ActionLink(treatFlavor.Treat.Name,"details","treats", new {id = treatFlavor.TreatId}) </li>
              }
                
            }
          </ul>

           @if(@User.Identity.IsAuthenticated)
            {
              @Html.ActionLink("AddTreat", "AddTreat", new { id = Model.FlavorId }, new { @class="btn btn-info fa fa-edit" })
              @Html.ActionLink("Delete", "Delete", new { id = Model.FlavorId }, new { @class="btn btn-info fa fa-edit" })
            }


