@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat
<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>
@if(@Model.TreatFlavor.Count == 0)
{
  <p>This Treat Type has no Flavors associated</p>
}
else
{
  <h4>Flavors Treat has been associated:</h4>
  <ul>
    @foreach(var join in Model.TreatFlavor)
    {
      <li>@join.Flavor.FlavorType</li>
       @using (Html.BeginForm("DeleteFlavor", "Treats"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
    }
  </ul>
}
</ul>
  <h4>Number of Treats: @Model.Stock.Count</h4>
  <h4>@Model.Name in stock: @ViewBag.InStockTreats.Count</h4>
  <br>
  @if(@ViewBag.InStockTreats.Count != 0)
  {
    @Html.ActionLink("Order", "Create","Orders", new { id = Model.TreatId }, new { @class="btn btn-info fa fa-edit" })
  }

@Html.ActionLink("AddFlavor", "AddFlavor", new { id = Model.TreatId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink("Delete", "Delete", new { id = Model.TreatId }, new { @class="btn btn-info fa fa-edit" })