@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat
<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>
@if (Model.TreatFlavor.Count == 0)
{
  <p>@Model.Name has no Flavors .</p>
}
<ul>
  @foreach (TreatFlavor treatFlavor in @Model.TreatFlavor)
  {
    @if (@User.Identity.IsAuthenticated)
    {
     <li>@Html.ActionLink(treatFlavor.Flavor.FlavorType,"details","flavors", new {id = treatFlavor.FlavorId})</li>

    }
    else
    {
      <li>@Html.ActionLink(treatFlavor.Flavor.FlavorType,"Details","Flavors", new {id = treatFlavor.FlavorId})</li>
    }

  }
</ul>
 <h4>@Model.Name in stock: @ViewBag.InStockTreats.Count</h4>
  <br>
  @if(@ViewBag.InStockTreats.Count != 0)
  {
    @Html.ActionLink("Order", "Create","Orders", new { id = Model.TreatId }, new { @class="btn btn-info fa fa-edit" })
  }


@if (@User.Identity.IsAuthenticated)
  
{
  if(@User.IsInRole("Administrator"))
  {
<button class="btn btn-info" onclick="window.location.href='/Treats/Edit/@Model.TreatId';">Edit</button>
  @Html.ActionLink("AddFlavor", "AddFlavor", new { id = Model.TreatId }, new { @class="btn btn-info fa fa-edit" })
  @Html.ActionLink("Delete", "Delete", new { id = Model.TreatId }, new { @class="btn btn-info fa fa-edit" })
  }
  
}



  